Repository aorumbayev/awesome-omarchy: changes, and which pre-commit hooks are due for each by the changed paths.
All: awesome-lint, remark-lint

.pre-commit-config.yaml:

# Pre-commit configuration for awesome-omarchy
# This file includes all the same validation tools that run in CI
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Awesome List Validation
  - repo: local
    hooks:
      - id: awesome-lint
        name: Awesome List Lint
        entry: npx awesome-lint
        language: system
        files: README\.md$
        description: "Validate README.md against awesome list standards"
        pass_filenames: true
        require_serial: true

  # Markdown Formatting and Linting
  - repo: local
    hooks:
      - id: remark-lint
        name: Markdown Lint (remark)
        entry: bash -c 'npx remark --frail --quiet --no-stdout README.md CONTRIBUTING.md'
        language: system
        files: \.(md|markdown)$
        description: "Lint markdown files with remark-cli"
        pass_filenames: false
        require_serial: true

  # Spell Checking
  - repo: https://github.com/crate-ci/typos
    rev: v1.35.4
    hooks:
      - id: typos
        name: Spell Check (typos)
        files: \.(md|markdown)$
        description: "Check spelling in markdown files"

  # Link Checking (Optional - can be slow)
  - repo: local
    hooks:
      - id: lychee-links
        name: Link Check (lychee)
        entry: lychee
        language: system
        files: \.(md|markdown)$
        args: ['--config', '.github/workflows/lychee.toml', '--verbose', '--no-progress']
        description: "Check links in markdown files"
        pass_filenames: true
        # Set to manual stage so it doesn't run automatically on every commit
        stages: [manual]

  # Basic Git Hooks (Additional Quality Checks)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        description: "Remove trailing whitespace"
      - id: end-of-file-fixer
        name: Fix End of Files
        description: "Ensure files end with a newline"
      - id: check-yaml
        name: Check YAML Syntax
        description: "Validate YAML file syntax"
      - id: check-toml
        name: Check TOML Syntax
        description: "Validate TOML file syntax"
      - id: check-merge-conflict
        name: Check Merge Conflicts
        description: "Check for merge conflict markers"
      - id: mixed-line-ending
        name: Mixed Line Ending
        description: "Replace or check mixed line endings"

# CI Environment Setup (for local development)
# These settings ensure your local environment matches CI
default_language_version:
  node: '22'

# Configure specific stages
default_stages: [pre-commit, pre-push]

# Fail fast - stop on first failure
fail_fast: true

# Minimum pre-commit version required
minimum_pre_commit_version: '3.0.0'

Add Omarchy theme picker and brighten resource titles on site
  .pages/index.html
Due: none

Omarchy styled pages preview on desktop screens
  .pages/index.html
Due: none

Add Omarchy Velora theme
  README.md
Due: awesome-lint, remark-lint

fix: place Velora theme alphabetically
  README.md
Due: awesome-lint, remark-lint

Add omarchy-auto-theme to Development Tools
  README.md
Due: awesome-lint, remark-lint

Move themes to the end and add a curated Plugins section.
  .github/workflows/awesome.yml
  .pages/index.html
  .pre-commit-config.yaml
  .typos.toml
  CONTRIBUTING.md
  README.md
  scripts/check-list-order.py
Due: awesome-lint, remark-lint

Drop GitHub listings below the 5-star bar.
  README.md
Due: awesome-lint, remark-lint

Check 5+ GitHub stars only on newly added listings.
  .github/workflows/awesome.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  scripts/check-min-stars.py
Due: remark-lint

Add Kettle plugin
  README.md
Due: awesome-lint, remark-lint

Re-add omarchy-auto-theme to Development Tools
  README.md
Due: awesome-lint, remark-lint

Add omacal to Development Tools
  README.md
Due: awesome-lint, remark-lint

Add Omarchy Stage to Plugins
  README.md
Due: awesome-lint, remark-lint

Add renCal to development tools (#57)
  README.md
Due: awesome-lint, remark-lint

Add Agent Workspaces plugin
  README.md
Due: awesome-lint, remark-lint

Add omarchy-jetbrains-theme to Development Tools
  README.md
Due: awesome-lint, remark-lint

Add Calendar Sync Clock plugin
  README.md
Due: awesome-lint, remark-lint

Add Calendar Sync Clock plugin (#60)
  README.md
Due: awesome-lint, remark-lint

Add Pomodoro plugin
  README.md
Due: awesome-lint, remark-lint

Add Glep to start README-only fork CI and post the merge bar.
  .github/workflows/glep.yml
  scripts/glep.py
Due: none

Trim Glep comments and rewrite remaining text in short official English.
  .github/workflows/glep.yml
  scripts/glep.py
Due: none

Tighten glep.py: drop unused CLI, helpers, and duplicate GitHub calls.
  scripts/glep.py
Due: none

Fail loudly on approve errors; fix workflow_run sha comment
  .github/workflows/glep.yml
  scripts/glep.py
Due: none

Add Glep for README-only fork pull requests (#63)
  .github/workflows/glep.yml
  scripts/glep.py
Due: none

Pass '-' to gh api --input so write calls read the body from stdin
  scripts/glep.py
Due: none

Add Hotbar and Reprieve plugins
  README.md
Due: awesome-lint, remark-lint

Find runs awaiting approval: they report status completed, conclusion action_required
  scripts/glep.py
Due: none

Fix gh api --input in glep write calls (#64)
  scripts/glep.py
Due: none

Add Hotbar and Reprieve plugins (#65)
  README.md
Due: awesome-lint, remark-lint

Use client-id input for create-github-app-token (app-id is deprecated)
  .github/workflows/glep.yml
Due: none

Use client-id input for create-github-app-token (app-id is deprecated) (#66)
  .github/workflows/glep.yml
Due: none

Add Outpost theme
  README.md
Due: awesome-lint, remark-lint

Add Outpost theme (#67)
  README.md
Due: awesome-lint, remark-lint

Add omarchy-pi5-quattro (Raspberry Pi 5) to Alternative Implementations
  README.md
Due: awesome-lint, remark-lint

fix: decode README and subprocess output as UTF-8 in validation scripts
  scripts/check-list-order.py
  scripts/check-min-stars.py
Due: none
